*
!.gitignore
!/backend/
!/student_s_chatbot/
!/README.md

/student_s_chatbot/node_modules/
/student_s_chatbot/build/

/backend/venv/
/backend/__pycache__/
/backend/*.pyc
/backend/*.sqlite3
/backend/
*.env

logs/
*.log
.DS_Store
Thumbs.db
.vscode/
.idea/